::-webkit-scrollbar {
  display: none;
}

.App{
  display:flex;
  flex-direction: column;
}

.landing{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  height:100vh;
  width:100%;
  background-image: url("./asset/background.jpg");
  background-position:center;
  background-size:100% 100%;
}

header{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:80px;
  background-color:rgba(0,0,0, 0.281);
  
}



.company-logo{
  font-size:24px;
  font-weight:bold;
  font-family:cursive;
  color:white;
  padding:0 30px;
}

#icon{
  color:#8fc644;
  font-size:30px;
}

.tab{
  max-width:550px;
  width:100%;

  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding:0 30px;
}

.tab a{
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  color:#8fc644;
}

.intro { 
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:65vh;
  width:100%;
  text-align:center;

}

.intro-brand{
  width:100%;

  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  
}

.brand{
  font-size:5rem;
  font-family:cursive;
  font-weight:bold;
  color:#8fc644;
}

.desc{
  max-width:650px;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  color:#d8f5da;
  text-align: center;
}
.intro-form{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form{
  width:370px;
  padding:20px 0;
  
  display:flex;
  flex-direction: row;
}



input{
  width:100%;
  padding:10px;
  outline:none;
  border:none;
  border:2px solid #8fc644;
  background:transparent;
  border-radius:5px 0 0 10px;
  color:#8fc644
}

::placeholder{
  color:#8fc644;
}
.form button{
  width:120px;
  border:none;
  border:2px solid #8fc644;
  background:#8fc644;
  color:white;
  font-size:14px;
  font-weight:bold;
  border-radius: 0 15px 5px 0;
}



.about{
  min-height:70vh;
  display:flex;
  justify-content:space-around;
  align-items: center;

}


.about-content{
  display:flex;
  max-width: 900px;
}

.about-image{
  padding:1rem 0;
  min-height:400px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
.about-image img{
  max-height:250px;
  max-width:400px;
}


.about-text{
  padding:1rem 2rem;
  min-height:400px;
 
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  text-align:center;
}

.about-text span{
  max-width:400px;
  color:rgba(36, 35, 35, 0.589)
}

.about-head{
  font-size:2rem;
  color:#8fc644;
  font-weight:bold;
  padding:1rem 0;
  font-family:cursive;
}


.category{
  min-height:70vh;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  margin-bottom:50px;
}

.category-grid{
  background:red;
  display:grid;
  grid-template-columns: repeat(3,1fr);
}



.category-item{
  height:200px;
  width:300px;
  display:flex;
  flex-direction: column;
  
  border:2px solid #8fc644;
  
}

.category-item img{
  width:100%;
  height:100%;
}

.category-name{
  position:absolute;
  height:200px;
  width:300px;
  color:white;
  text-shadow: 8px 7px 5px rgba(63, 132, 11, 0.034);
  font-weight:bold;
  font-size:20px;
  background-color:rgba(0,0, 0, 0.3);
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.mockups{
  background:linear-gradient(180deg, #8fc644,#8fc644, white);
  
  min-height:80vh;
  display:flex;
  justify-content:space-around;
  align-items: center;

}

.mockup-grid{
  /* max-width: 900px; */
  display:grid;
  grid-template-columns: repeat(5,1fr);
}

.features{
  background:linear-gradient(180deg, white, #8fc644, #8fc644);
  min-height:80vh;
  height:100%;
  display:flex;
  justify-content:space-around;
  align-items: center;
}

.features-grid{
  
  display:grid;
  grid-template-columns: repeat(3,1fr);
 
}



.features-item{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  
}

.features-card{
  
  
  width:300px;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  text-align:left;
  background:white;
  border-radius:70px;
  /* border:2px solid #8fc644; */
  padding:5px;

}
.features-logo {
  padding:20px;
  border:3px solid #8fc644;
  display:flex;
  justify-content:space-around;
  align-items:center;
  border-radius:50%;
}
.features-logo img{
  height:40px;
  width:40px;
}

.features-name{
  text-align:left;
  width:100%;
  padding:0 10px;
  font-size:20px;
  font-weight:bold;
}


.footer{
  width:100%;
  
  /* min-height:50vh; */
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items: center;
}

.footer-grid{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  height:200px;
  /* padding:0 20px; */

}



.footer-card{
  width:200px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  text-align:left;
  border-radius:70px;
  
  padding:10px;
  background:#8cf644;
}
.footer-name{
  width:120px;
   color:white;
}

.footer-logo{
  padding:10px;
 
  display:flex;
  justify-content:space-around;
  align-items:center;
  border-radius:50%;
  background:white;
}
.footer-logo img{
  height:30px;
  width:30px;
}

.footer-info{
  width:100%;
  height:250px;
  background-color:black;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;

}

@media  (max-width: 800px){

  header .tab{
      display:none;
     
  }
  .intro{
   
    height:70vh;
  }

  .form{
    width:320px;
    padding:20px 0;
    
    display:flex;
    flex-direction: row;
  }

  .desc{
    max-width:320px;
    
  }

  .brand{
    font-size:3rem;
    font-family:cursive;
    font-weight:bold;
    color:#8fc644;
  }

  .about-content{
    display:flex;
    flex-direction: column;
  }

  .category-grid{
   
    
    display:grid;
    grid-template-columns: repeat(1,1fr);
  }

  .features-grid{
   
    display:grid;
    grid-template-columns: repeat(1,1fr);
   
  }

  .mockup-grid{
    /* max-width: 900px; */
    display:grid;
    grid-template-columns: repeat(1,1fr);
  }

  .footer-grid{
    flex-direction:column;
    justify-content:space-around;
    min-height:400px;
    /* padding:0 20px; */
  
  }

  .footer-info{
    width:100%;
    height:500px;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
  
  }
  
}

.footer-contact{
  height:250px;
  width:100%;
  background:black;
  display:flex;
  flex-direction:column;
  /* justify-content:space-between; */
  align-items:center;
}

.footer-socialmedia{
  height:250px;
  width:100%;
  background:#1A1919;
  display:flex;
  flex-direction:column;
  /* justify-content:space-between; */
  align-items:center;
}

.footer h1{
    color:white;
    font-family:cursive;
}

.list{
  max-width:350px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  color:#e6e6e6;
  justify-content:space-around;
  align-items:center;
}
.list span{
  text-align:center;
  color:#e6e6e6;
}

.social-icon{
  min-width:200px;

  display:flex;
  justify-content:space-between;
  flex-direction:row;
}

.icon-box{
  height:40px;
  width:40px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  border-radius:50%;
  background:#6cf644;
  

}

.icon-box i{
  color:white;
  font-size:24px;
}